body{
    background: purple
}

#aluraLogo{
    position: absolute;
    left: 4em;
    
    bottom: 0%;
    margin: 1em auto;


}
.contenedorLogo{
    width: 120px;
    height: 48px;
    background: white;
    border-radius: 20px;
    position: absolute;
    left: 4em;
   
    top: 3%;
    bottom: 0%;
    padding: 1em;
}