body{
    background: #B5ead7;
}

#aluraLogo{
    position: absolute;
    left: 4em;
    
    bottom: 0%;
    margin: 1em auto;


}
.contenedorLogo{
    width: 120px;
    height: 48px;
    background: white;
    border-radius: 32px;
    position: absolute;
    left: 4em; 
    top: 3%;
    bottom: 0%;
    padding: 1em;
}

.contenedorPersona{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1300px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    margin-bottom: 10px;

}

#persona{
    position: absolute;
    width: 100%;
    height: 40%px;
    top: 283px;
    margin: auto auto;
}
.textoCaja{
    position: absolute;
    padding: auto auto;
    left: auto;
    bottom: 20%;
    margin-left: 32px;
    
}
.titulo{
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
 }

 .subtitulo{
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
 }
 .cajaTextoEncriptar{
    position: absolute;
    width: 700px;
    height: 600px;
    left: 240px;
    top: 168px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
 }

 #textoEncriptar{
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    border-radius: 32px; 
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    color: #0A3871;
}
.posicionBotones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 240px;
    top: 885px;

}
.botonAzul{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.botonAzul p{
    width: 280px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;
}
.botonBlanco{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.botonBlanco p{
    width: 280px;
    height: 19px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    flex: none;
    order: 0;
    flex-grow: 1;
}